image: "$CI_REGISTRY_IMAGE"

variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - test
    - build
    - pages

before_script:
        - apt update && apt -y install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev

test-compilation:
    stage: test
    script:
        - mkdocs build --strict

test-links:
    stage: test
    script:
        - ./test-links.sh

test-remote-links:
    stage: test
    allow_failure: true
    script:
        - ./test-links.sh --remote

build:
    stage: build
    script:
        - LC_ALL=C.UTF-8 LANG=C.UTF-8 mkdocs build
    artifacts:
        paths:
            - site

pages:
    stage: pages
    script:
      - rm -rf public
      - mv site public
    artifacts:
        paths:
            - public
    rules:
        - if: '$CI_COMMIT_BRANCH == "master"'
