site_name: Turris Documentation
site_description: Official Turris documentation for both hardware and software
site_author: CZ.NIC z.s.p.o.
copyright: CC-BY-SA-4.0


markdown_extensions:
    - extra
    - codehilite
    - smarty
    - toc
    - wikilinks

theme:
    name: mkdocs
    custom_dir: 'turris_theme/'
    #highlightjs: true
    #hljs_languages:
    #    - yaml
    #    - rust

plugins:
    - search:
        lang: ['en']
        prebuild_index: False

nav:
- Introduction: 'index.md'
- Basics:
    - Applications:
        - 'Netmetr': 'basics/apps/netmetr.md'
    - First setup:
        - 'Mox': 'basics/first-setup/mox_first_setup.md'
        - 'Omnia': 'basics/first-setup/omnia.md'
- Hardware specific topics:
    - Mox:
        - 'Reset and rescue': 'hw-spec/mox/mox_rescue_modes.md'
        - 'MicroSD card Preparation': 'hw-spec/mox/mox_microsd.md'
        - 'CPU module only': 'hw-spec/mox/mox_cpu_only.md'

