mkdocs
# theme
mkdocs-material>=8.0.0
# extensions
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-include-markdown-plugin>=3.6.0
mkdocs-minify-plugin
markdown-toc
markdown-extra
pymdown-extensions
# mkdocs-material: social cards dependancies
pillow
cairosvg
# other extensions: forks
git+https://github.com/turris-cz/cell_row_span.git
git+https://github.com/turris-cz/markdown-jinja.git
git+https://github.com/turris-cz/markdown-lightbox.git
