mkdocs
# theme
mkdocs-material>=9.0.0,<10.0.0
# extensions
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-redirects
mkdocs-include-markdown-plugin>=3.6.0
mkdocs-minify-plugin
markdown-toc
markdown-extra
pymdown-extensions
# mkdocs-material: social cards dependencies
pillow
cairosvg
# other extensions: forks
git+https://gitlab.com/aleksan4eg/mdx_spanner.git
git+https://github.com/turris-cz/markdown-jinja.git
git+https://github.com/turris-cz/markdown-lightbox.git
