mkdocs
mkdocs-material>=8.0.0
pyembed-markdown
markdown-include
markdown-toc
markdown-extra
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-include-markdown-plugin
pymdown-extensions
mkdocs-minify-plugin
pillow
cairosvg
# other extensions: forks
git+https://github.com/turris-cz/cell_row_span.git
git+https://github.com/turris-cz/markdown-jinja.git
git+https://github.com/turris-cz/markdown-lightbox.git