/* Turris color theme */
:root {
    /* Primary color shades */
    --md-primary-fg-color: #262626;
    --md-primary-fg-color--light: #3d3d3d;
    --md-primary-fg-color--dark: #141414;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);

    /* Accent color shades */
    --md-accent-fg-color: hsla(197, 100%, 40%, 1);
    --md-accent-fg-color--dark: hsla(197, 100%, 32%, 1);
    --md-accent-fg-color--transparent: hsla(197, 100%, 40%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

/* Link styles  */
.md-typeset a {
    color: var(--md-accent-fg-color);
}

.md-typeset a:hover,
.md-nav__item a.md-nav__link--active:hover {
    color: var(--md-accent-fg-color--dark);
}

.md-nav__item .md-nav__link--active {
    color: var(--md-accent-fg-color);
}

/* Image border */
.md-typeset img {
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.metadata a.badge {
    color: #fff;
}

.metadata span.badge {
    cursor: help;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 70%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Labels: Devices */
.badge-shield {
    color: #fff;
    background-color: #438bca;
}

.badge-shield:hover {
    background-color: #2d6a9f;
}

.badge-mox {
    color: #fff;
    background-color: #343a40;
}

.badge-mox:hover {
    background-color: #1d2124;
}

.badge-omnia {
    color: #fff;
    background-color: #00a2e2;
}

.badge-omnia:hover {
    background-color: #0075a3;
}

.badge-turris {
    color: #fff;
    background-color: #ce1126;
}

.badge-turris:hover {
    color: #fff;
    background-color: #970c1c;
}

/* Labels: Competency levels */
.badge-novice {
    color: #fff;
    background-color: #54b445;
}

.badge-novice:hover {
    background-color: #449438;
}

.badge-intermediate {
    color: #fff;
    background-color: #efd000;
}

.badge-intermediate:hover {
    background-color: #b89f00;
}

.badge-advanced {
    color: #fff;
    background-color: #f89217;
}

.badge-advanced:hover {
    background-color: #da7b07;
}

.badge-expert {
    color: #fff;
    background-color: #e64f3b;
}

.badge-expert:hover {
    color: #fff;
    background-color: #d9321c;
}
